body, html, h1,h2,h3,h4,h4, a, p {
font-family: 'Lato', sans-serif;
}
h2 {
margin-top: 0px;
font-size: 26px;
}
p {
font-size: 18px;
}
.img-container, .menu-container {
height: 50vh;
/*	background-color: red;*/
position: relative;
}
.menu-container {
/*	background-color: red;*/
}
.img-container img {
height: auto;
width: 100%;
max-width: 300px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom:0;
/*	width: auto;
height: 100%;
max-width: 685px;
max-height: 389px;*/
}

.modal-header {
	border-bottom: none !important;
}

.carousel-inner img {
	width: 100%;
	height: auto;
}

.carousel-inner h4 {
	font-weight: bold;
	margin-bottom: 25px;
}

.carousel-inner .quote {
	font-style: italic;
}

.controls {
	right: 25px;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    
}

.controls a {
	color: #600473;
}
.text-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.text-container span {
display: inline-block;
font-size: 22px;
font-style: italic;
}
.text-container .divider {
margin:0px 25px;
}

.controls .divider {
	margin:0px 10px;
}
.nav {
background-color: #600473;
color: white;
position:absolute;
bottom:0;
width: 100%;
text-align: center;
}
.nav p {
margin:10px 0px;
}
.modal .modal-header {
text-align: center;	
}
.modal .modal-header img {
height: 75px;
width: auto;
}