/*Bootstrap Overwrite*/
#front .container {
    width: 100%;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}
@media (max-width: 767px) {
    #page .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    #page .img-holder {
        margin-bottom: 25px;
    }
}
body {
    font-family: 'Raleway', sans-serif;
}
.navbar-brand,
h1 {
    font-family: 'Oswald', sans-serif;
    color: #3F3F3F;
}
h2,
#main,
#main h1 {
    color: #3F3F3F;
}
h2, #page h1 {
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
    float: none;
    margin: 0 auto
}
h3 {
    font-size: 28px
}
p {
    -webkit-margin-before: 0
}
input,
textarea {
    border: 1px solid #3F3F3F;
    padding: 8px 10px;
}
input:focus,
textarea:focus {
    outline: 0;
    border: 1px solid black;
}
::-webkit-input-placeholder {
    opacity: .3;
    font-style: italic
}
::-moz-placeholder {
    opacity: .3;
    font-style: italic
}
:-ms-input-placeholder {
    opacity: .3;
    font-style: italic
}
:-moz-placeholder {
    opacity: .3;
    font-style: italic
}
.gray {
    background-color: #f8f8f8;
}
/*Main*/

#main a,
#main button {
    color:  #988088;
}

#main a:hover p, footer a:hover {
    opacity: .7
}

#main a:hover, footer a:hover {
    text-decoration: none
}
#main p {
    font-size: 16px;
    line-height: 1.4em
}
#main button {
    background-color: #fff;
    border: 1px solid  #988088;;
    border-radius: 10px;
    margin: 5px
}
#main button:hover {
    background-color:  #988088;;
    color: #fff
}
#main button:active {
    text-decoration: underline
}
#page #main {
    margin-top: 80px;
    margin-bottom: 50px;
}
#page #contact p {
    margin-bottom: 50px;
    padding: 0px 15px;
}

#page #contact, #four {
  min-height: calc(100vh - 215px);
}
@media (max-width: 767px) {
    #page #contact p {
        margin-bottom: 50px;
        padding: 0px 0px;
    }
}
/*Navbar*/

.navbar-default,
.navbar-header {
    height: 70px;
    border-color: transparent;
    background-color:rgba(255,255,255, 0);
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f8f8f8;
    font-style: italic;
}
.brandHide {
    visibility: hidden
}
.scrollNav .navbar-brand  {
  visibility: visible;
}

.scrollNav .navbar-nav>li>a:hover {
    color: #4e4a4a;
}
.navbar-default .navbar-nav>li>a {
    color: #f8f8f8;
}
@media(max-width: 767px){
    .navbar-default .navbar-nav>li>a {
    color:  #988088;;
    }
    .navbar-default .navbar-nav>li>a:hover {
    color: #4e4a4a;
    font-style: italic;
    }

}
.scrollNav .navbar-nav>li>a {
    color:  #988088;;
}
.navbar-default .navbar-brand {
    color: #3F3F3F;
}

.navbar-default .navbar-brand img {
    display: inline-block;
    height: 30px;
    padding-bottom: 8px;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #4e4a4a
}
.navbar-default .navbar-brand:hover {
    color:  #988088;;
    opacity: .7
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #4e4a4a;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:  #988088;;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: white;
}
.navbar ul li {
    font-size: 16px;
    color: #4e4a4a;
}
.navbar ul li:hover {
    background-color: transparent;
    font-style: italic
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    font-weight: 700;
    background-color: #fff;
    color:  #988088;
}
.navbar-header,
.navbar-nav {
    margin-top: 10px
}
.navbar-brand {
    font-size: 40px;
    font-weight: 500
}
@media (max-width: 900px) and (min-width: 767px) {
    .navbar-brand {
        font-size: 30px
    }
}
/*Front Page*/

#logo {
    height: 70px;
    width: auto;
}
#front .welcomeBackground {
    background: url(../img/background-new.png) no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    position: relative;
}
.welcomeBackground .child {
    margin-top:50px;
    margin-bottom: 50px;
    /* width: fit-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
}
.welcomeBackground .welcomeText {
    justify-content: center;
    align-items: center
}
.welcomeBackground .welcomeDiv {
    height: 100%;
    width: 100%;
    padding-top: 50px
}
.welcomeDiv h1 {
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.welcomeDiv h2 {
  padding-top: 30px;
}

#front .service img {
    width: auto;
    height: 100px;
}
#front .service .service-container {
    margin-bottom: 50px;
}
#front .service a:hover {
    opacity: .7;
}
#front .service {
    margin-bottom: 0px;
}

#front #aboutUs {
  margin-bottom: 50px;
}
#front #clients-say {
    background-color:#baccd2;
    color: white;
}

#front #clients-say a {
  color:#baccd2;
}
#front #clients-say h2 {
    color: white;
}

#front .carousel .carouse-control.left, #front .carousel .carouse-control.right {
    background-image: none
}

#front .carousel .glyphicon-chevron-left {
    left: 0px;
    margin-left: 15px;
    opacity: .3
}

#front .carousel .glyphicon-chevron-right {
    right: 0px;
    margin-right: 15px;
    opacity: .3
}

#front .carousel .carousel-control {
    width: 50px;
    opacity: 1;
    background-image: none;
}

#front .carousel .carousel-control .glyphicon {
    color: white;
}
#front #clients-say .carousel-inner .active {
    background-color: transparent;
}
#front #clients-say .carousel-inner {
    padding-bottom: 50px;
}

@media(max-width: 767px){
  #front .carousel .glyphicon-chevron-left {
    margin-left:10px;
  }
  #front .carousel .glyphicon-chevron-right {
    margin-right:10px;
  }

    #front #clients-say .carousel-inner {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 760px){
    #front #clients-say .carousel-inner .item {
        padding-top: 50px;
    }
}

#front #clients-say .quote {
    font-style: italic;
    text-align: left;
}
#front #clients-say .attr {
    font-size: 12px;
    text-align: right;
    margin-bottom: 0px;
}

#front #contact {
    margin-bottom: 50px
}
.scrollNav {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid transparent;
}
.topNav {
    border-bottom: transparent;
}
.brandShow {
    visibility: visible
}

#contact .col-md-12 {
    text-decoration: none;
    font-weight: 600
}
#contact button,
#contact input,
#contact textarea {
    margin-bottom: 30px
}
.contact-container {
    width: 100%;
    float: left
}
#contact .message span {
    margin-bottom: 15px
}
/*Work*/

.workDiv {
    padding: 20px 15px;
    border-bottom: 1px solid #988088;
}
#portfolio .workDiv {
  border-bottom: 1px solid #baccd2;
}
.workDiv:last-child {
    border-bottom: 0px solid transparent !important;
}
@media(max-width:767px){
  #portfolio .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*Services*/

#services h3 {
    margin-top: 0px;
}
#services .img-holder {
    text-align: center;
}
#services .img-holder .img-responsive {
    display: inline;
    max-width: 210px;
}
@media (max-width: 768px) {
    .img-holder .img-responsive {
        height: 100px;
    }
    #services .workDiv {
        text-align: center;
    }
}


footer {
    color: #4e4a4a;
    padding: 20px 0;
    font-size: 12px;
    background-color: #769aa6;
    color:white;
}
footer a {
  color: white;
}

footer a:hover {
    color: #4e4a4a;
}

footer img {
    margin-top: -2px;
    height: 16px;
    width: auto;
}

footer .contact {
    margin-bottom: 0px;
}
@media (max-width: 767px) {
    #contact .contentContainer {
        padding-left: 0;
        padding-right: 0
    }
    .welcomeBackground {
        margin-top: 0px;
    }
    .welcomeBackground .child {
      margin-bottom: 0px;
    }
    .active {
        background-color: #fff
    }
    .navbar-default,
    .navbar-header {
        height: 50px;
        margin-top: 0
    }
    .navbar-brand {
        font-size: 2em
    }
    .welcomeDiv h1 {
        font-size: 60px
    }
    .welcomeDiv h1:nth-child(2) {
        margin-top: 40px
    }
    .welcomeDiv h2 {
        font-size: 25px
    }
    .brandHide {
        visibility: visible
    }
    .container-fluid {
        background: #fff;
        border-bottom: 1px solid #4e4a4a
    }
    #page h1, h2 {
        font-size: 36px
    }
    h3 {
        font-size: 26px
    }
}
