/*Bootstrap Overwrite*/

#front .container {
    width: 100%;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}
@media (max-width: 767px) {
    #page .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    #page .img-holder {
        margin-bottom: 25px;
    }
}
.navbar-brand,
h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
}
h2,
#main {
    color: #4e4a4a;
}
h2 {
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
    float: none;
    margin: 0 auto
}
h3 {
    font-size: 28px
}
body {
    font-family: 'Open Sans', sans-serif
}
p {
    -webkit-margin-before: 0
}
input,
textarea {
    border: 1px solid #4e4a4a;
}
input:focus,
textarea:focus {
    outline: 0;
    border: 1.5px solid black;
}
::-webkit-input-placeholder {
    opacity: .3;
    font-style: italic
}
::-moz-placeholder {
    opacity: .3;
    font-style: italic
}
:-ms-input-placeholder {
    opacity: .3;
    font-style: italic
}
:-moz-placeholder {
    opacity: .3;
    font-style: italic
}
.gray {
    background-color: #f8f8f8;
}
/*Main*/

#main a,
#main button {
    color: #775069
}
#main a:hover p {
    opacity: .7
}
#main a:hover {
    text-decoration: none
}
#main p {
    font-size: 16px;
    line-height: 1.4em
}
#main button {
    background-color: #fff;
    border: 1px solid #775069;
    border-radius: 10px;
    margin: 5px
}
#main button:hover {
    background-color: #775069;
    color: #fff
}
#main button:active {
    text-decoration: underline
}
#page #main {
    margin-top: 80px;
    margin-bottom: 50px;
}
#page #contact p {
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    #page #contact p {
        margin-bottom: 50px;
        padding: 0px 0px;
    }
}
/*Navbar*/

.navbar-default,
.navbar-header {
    height: 70px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f8f8f8;
    font-style: italic;
}
.scrollNav .navbar-nav>li>a:hover {
    color: #4e4a4a;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    color: #f8f8f8;
}
.scrollNav .navbar-nav>li>a {
    color: #775069;
}
.navbar-default .navbar-brand {
    color: #433544;
}
.navbar-default .navbar-nav>li>a:focus {
    color: grey
}
.navbar-default .navbar-brand:hover {
    color: #775069;
    opacity: .7
}
.navbar ul li {
    font-size: 16px;
    color: #4e4a4a;
}
.navbar ul li:hover {
    background-color: transparent;
    font-style: italic
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    font-weight: 700;
    background-color: #fff;
    color: #775069
}
.navbar-header,
.navbar-nav {
    margin-top: 10px
}
.navbar-brand {
    font-size: 40px;
    font-weight: 500
}
@media (max-width: 900px) and (min-width: 767px) {
    .navbar-brand {
        font-size: 30px
    }
}
/*Front Page*/

#logo {
    height: 70px;
    width: auto;
}
#front .welcomeBackground {
    background: url(../img/header-image.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.welcomeBackground .child {
    width: fit-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.welcomeBackground .welcomeText {
    justify-content: center;
    align-items: center
}
.welcomeBackground .welcomeDiv {
    height: 100%;
    width: 100%;
    padding-top: 50px
}
.welcomeDiv h1 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 30px;
}
#front .service img {
    width: auto;
    height: 100px;
}
#front .service .service-container {
    margin-bottom: 50px;
}
#front .service a:hover {
    opacity: .7;
}
#front .service {
    margin-bottom: 50px;
}
#front #clients-say {
    background-color: #775069;
    color: white;
}
#front #clients-say h2 {
    color: white;
}
#front #clients-say .carousel-inner .active {
    background-color: transparent;
}
#front #clients-say .carousel-inner {
    padding-bottom: 50px;
}
#front #clients-say .quote {
    font-style: italic;
    text-align: left;
}
#front #clients-say .attr {
    font-size: 12px;
    text-align: right;
    margin-bottom: 0px;
}
@media (max-width: 760px) {
    #front #clients-say .carousel-inner .item {
        padding-top: 50px;
    }
}
#front #contact {
    margin-bottom: 50px
}
.scrollNav {
    background: #fff;
    border-bottom: 1px solid grey;
    -webkit-box-shadow: 0 8px 6px -6px grey;
    -moz-box-shadow: 0 8px 6px -6px grey;
    box-shadow: 0 8px 6px -6px grey
}
.topNav {
    border-bottom: none;
    background: 0 0
}
.brandShow {
    visibility: visible
}
.brandHide {
    visibility: hidden
}
#contact .col-md-12 {
    text-decoration: none;
    font-weight: 600
}
#contact button,
#contact input,
#contact textarea {
    margin-bottom: 30px
}
.contact-container {
    width: 100%;
    float: left
}
#contact .message span {
    margin-bottom: 15px
}
/*Work*/

#services .workDiv,
#portfolio .workDiv {
    padding: 20px 15px;
    border-bottom: 1px solid #CDCCDA;
}
#services .workDiv:last-child,
#portfolio .workDiv:last-child,
{
    border-bottom: none;
}
/*Services*/

#services h3 {
    margin-top: 0px;
}
#services .img-holder {
    text-align: center;
}
#services .img-holder .img-responsive {
    display: inline;
}
@media (max-width: 768px) {
    .img-holder .img-responsive {
        height: 100px;
    }
}
footer {
    padding: 20px 0;
    font-size: 12px;
    background-color: #f8f8f8;
}
@media (max-width: 767px) {
    #contact .contentContainer {
        padding-left: 0;
        padding-right: 0
    }
    .welcomeBackground {
        margin-top: 50px;
        min-height: calc(100vh - 50px)
    }
    .active {
        background-color: #fff
    }
    .navbar-default,
    .navbar-header {
        height: 50px;
        margin-top: 0
    }
    .navbar-brand {
        font-size: 2em
    }
    .welcomeDiv h1 {
        font-size: 60px
    }
    .welcomeDiv h1:nth-child(2) {
        margin-top: 40px
    }
    .welcomeDiv h2 {
        font-size: 25px
    }
    .brandHide {
        visibility: visible
    }
    .container-fluid {
        background: #fff;
        border-bottom: 1px solid grey
    }
    .banner h2 {
        font-size: 36px
    }
    h3 {
        font-size: 26px
    }
}