h1, .navbar-brand {
	font-family:  'Kaushan Script', cursive;
}

h3 {
	font-size: 28px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	-webkit-margin-before: 0em;
}

.parent {
  position: relative;
}
.child {
	width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main a {
	color: #600473;
}
#main a:hover p {
	opacity: 0.7;
}

#main a:hover {
	text-decoration: none;
}

#main button {
	background-color: white;
	border:	1px solid #600473;
	border-radius: 10px;
	margin:5px;
	color: #600473;
}

#main button:hover {
	background-color: #600473;
	color:white;
}


#main button:active {
	text-decoration: underline;
}


.welcomeBackground {
  background: url(../img/background.jpg) no-repeat ; 
  background-size: cover;
  min-height: 100vh;
}

.navbar-default, .navbar-header {
	height:70px;
}

.navbar-default .navbar-brand {
	color:#600473;
}

.navbar-default .navbar-nav > li > a:focus {
	color:#808080;
}

.navbar-default .navbar-brand:hover {
	color: #600473;
	opacity: 0.7;
}


.navbar ul li {
	font-size: 16px;
	color: #CDCCDA;
}

.navbar ul li:hover {
	background-color:transparent;
	font-style: italic;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	font-weight: 700;
	background-color: white;
	color: #600473;
}

.navbar-nav, .navbar-header {
 	margin-top: 10px
}
.navbar-brand{
	font-size: 40px;
	font-weight: 500;
}

@media (max-width: 900px) and (min-width: 767px){
	.navbar-brand {
		font-size: 30px;
	}

}

.welcomeText { 
  justify-content: center;
  align-items: center;
}
.welcomeDiv {
	height: 100%;
	width: 100%;
	padding-top: 50px;
}

.welcomeDiv h1 {
	font-size: 100px;
	margin-top: 0px;
	margin-bottom: 30px;
/*	font-weight: 700;*/
}

.banner h2 {
  font-size: 40px;
  padding: 50px 0px;
  float:none;
  margin:0 auto;
  /*color:#600473;*/
}

.storyHeader h2 {
	 padding-top: 40px;
}

.storyHeader h2 {
  font-size: 90px;
  margin-top: 0px;
}

.storyHeader h3 {
	color:#6093b0
}

#main p {
  font-size: 16px;
  line-height: 1.4em;
}

#main .workDiv {
	padding: 20px 15px;
	border-bottom: 1px solid 	#CDCCDA;
}

.bannerBackground {
  display: flex;
  align-items: center;
}

#portfolio .portSection {
  border-bottom: 1px rgb(221, 221, 221) solid
}

#portfolio .portSection:last-child {
	border-bottom: none;
}

#portfolio .workDiv:nth-child(2) {
	padding-top: 0px;
}


#contact {
	min-height: calc(100vh - 80px);
}

input:focus, textarea:focus {
	outline:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .3;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: .3;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: .3;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: .3;
  font-style: italic;
}


#main .container{
	width: 100%;
	margin:0px 0px;
}

#main .col-md-12, #main .container{
	width: 100%;
}

.scrollNav{
  background:white;
  border-bottom:1px solid #808080;
  -webkit-box-shadow: 0 8px 6px -6px #808080;
   -moz-box-shadow: 0 8px 6px -6px #808080;
        box-shadow: 0 8px 6px -6px #808080;
	}
.topNav {
	       border-bottom:none;
         background:transparent;
}
.brandShow { 
	visibility: visible;
}

.brandHide {
	visibility: hidden;
}

#contact .col-md-12 {
	text-decoration: none;
	font-weight:600;
} 

#contact input, #contact textarea, #contact button {
	margin-bottom: 30px;
}

.contact-container {
	width: 100%;
	float: left;
}

footer {
	min-height: 40px;
	font-size: 12px;
}

@media (max-width: 767px) {
	#portfolio .col-sm-6, #contact .contentContainer {
		padding-left: 0px;
		padding-right: 0px;
	}


	.active {
		background-color: white;
	}
	.navbar-default, .navbar-header {
		height:50px;
		margin-top: 0px
	}
	.navbar-brand {
		font-size: 2em;
	}
	.welcomeDiv h1 {
/*		margin-top: 20vh;*/
		font-size: 60px;
	}

	.welcomeDiv h1:nth-child(2){
		margin-top: 40px
	}

  .welcomeDiv h2 {
		font-size: 25px;	
	}	
	.brandHide {
		visibility: visible;
	}
	.container-fluid {
		background:white;
    border-bottom:1px solid #808080;
	}

	.banner h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 26px;
	}

}

